<main class="container contact">
  <div class="row">
    <%= form_tag '/contact', class: 'col-md-8 col-md-offset-2', method: 'post' do %>
      <h1 class="align-center" >Contact</h1>
      <% if flash[:success] %>
        <div class="alert alert-success"><%= flash[:success] %></div>
      <% end %>
      <div class="form-group">
        <label class="control-label" for="nom" >Nom</label>
        <% if @message.nom %>
          <%= text_field_tag :name, @message.nom, class: "form-control", id: "nom" %>
          <% if @message.errors[:nom].first %>
            <div class="alert alert-danger">
              <%= t(".name") %>
            </div>
          <% end %>
        <% else %>
          <%= text_field_tag :name, @message.nom, class: "form-control empty", id: "nom" %>
        <% end %>
      </div>
      <div class="form-group">
        <label class="control-label" for="email" >Adresse e-mail</label>
          <% if @message.email %>
            <%= text_field_tag :email, @message.email, class: "form-control", id: "email" %>
            <% if @message.errors[:email].first %>
              <div class="alert alert-danger">
                <%= t(".email") %>
              </div>
            <% end %>
          <% else %>
            <%= text_field_tag :email, @message.email, class: "form-control empty", id: "email" %>
          <% end %>
      </div>
      <div class="form-group">
        <label class="control-label" for="message" >Votre message</label>
          <% if @message.content %>
            <%= text_area_tag :message, @message.content, class: "form-control", size: "24x6", id: "message" %>
            <% if @message.errors[:content].first %>
              <div class="alert alert-danger">
                <%= t(".content") %>
              </div>
            <% end %>
          <% else %>
            <%= text_area_tag :message, @message.content, class: "form-control empty", size: "24x6", id: "message" %>
          <% end %>
      </div>
      <button type="submit" class="align-center btn btn-fab btn-raised"><i class="mdi-content-mail"></i></button>
    <% end %>
  </div>
</main>
