<main class="container show-project">
  <div class="row">
    <h1 class="align-center"><%= @project.title %></h1>
    <div class="container-picture">
      <a href="<%= @project.url %>" target="_blank"><%= image_tag @project.picture.url(:large), class: "image-project" %></a>
    </div>
    <div class="container-list">
      <ul class="col-md-8 col-md-offset-2">
        <% @technologies.each do |technology| %>
          <li><%= image_tag technology.picture.url(:thumb), size: "20" %>&nbsp; <span><%= technology.name %></span></li>
        <% end %>
      </ul>
    </div>
    <div class="container-info col-md-8 col-md-offset-2">
      <p class="description"><span class="definition">Description : </span><%= @project.description.html_safe %></p>
      <p>Le projet a duré du <span class="date"><%= @project.startdate %></span> au <span class="date"><%= @project.enddate %></span>.</p>
    </div>
    <div class="col-md-8 col-md-offset-2 last-update">
      <a href="<%= @project.github %>" target="_blank" class="btn btn-primary btn-fab"><span class="info">GitHub</span><i class="fa fa-github"></i></a>
      <a href="<%= @project.twitter %>" target="_blank" class="btn btn-primary btn-fab"><span class="info">Twitter</span><i class="fa fa-twitter"></i></a>
      <a href="<%= @project.url %>" target="_blank" class="btn btn-primary btn-fab"><span class="info">Site Web</span><i class="fa fa-globe"></i></a>
      <p class="align-right">Dernière modification le : <%= @project.updated_at.strftime("%C %b %Y à %H:%m") %></p>
    </div>
  </div>
</main>
