<main class="container depenses">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% if notice %>
        <br />
        <p class="alert alert-success" id="notice"><%= notice %></p>
      <% end %>
      <% if flash[:success] %>
        <br />
        <p class="alert alert-success" id="notice"><%= flash[:success] %></p>
      <% end %>
      <h1>Listing Depenses</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Solde</h3>
            </div>
            <div class="panel-body">
              <%= @solde %> €
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Total des dépenses</h3>
            </div>
            <div class="panel-body">
              <%= @total %> €
            </div>
          </div>
        </div>
      </div>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Value</th>
            <th>Date</th>
            <th>Checked</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @depenses.each do |depense| %>
            <tr>
              <td><%= depense.title %></td>
              <td><%= depense.value %></td>
              <td><%= depense.date %></td>
              <td><%= depense.checked %></td>
              <td>
                <%= link_to depense, class: "btn btn-flat btn-info" do %>
                  <i class="fa fa-eye"></i>&nbsp; Show
                <% end %>
              </td>
              <td>
                <%= link_to edit_depense_path(depense), class: "btn btn-flat btn-info" do %>
                  <i class="fa fa-pencil"></i>&nbsp; Edit
                <% end %>
              </td>
              <td>
                <%= link_to depense, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-flat btn-danger" do %>
                  <i class="fa fa-trash"></i>&nbsp; Destroy
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>

      <%= link_to new_depense_path, class: "btn btn-flat btn-warning" do %>
        <i class="fa fa-plus"></i>&nbsp; New Depense
      <% end %>
      <a href="/pages/paye" class="btn btn-flat btn-info"><i class="fa fa-usd"></i>&nbsp; Add Some Money</a>
    </div>
  </div>
</main>
