<main class="container depenses">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <% if notice %>
        <br />
        <p class="alert alert-success" id="notice"><%= notice %></p>
      <% end %>
      <% if flash[:success] %>
        <br />
        <p class="alert alert-success" id="notice"><%= flash[:success] %></p>
      <% end %>
      <h1>Listing Depenses</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Solde</h3>
            </div>
            <div class="panel-body">
              <%= @solde %> €
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Total des dépenses</h3>
            </div>
            <div class="panel-body">
              <%= @total %> €
            </div>
          </div>
        </div>
      </div>

      <div class="row title-depense align-center">
        <div class="col-md-2 col-sm-2 col-xs-2">Title</div>
        <div class="col-md-2 col-sm-2 col-xs-2">Value</div>
        <div class="col-md-4 col-sm-4 col-xs-4">Date</div>
        <div class="col-md-2 col-sm-2 col-xs-2">Edit</div>
        <div class="col-md-2 col-sm-2 col-xs-2">Dest</div>
      </div>
      <% @depenses.each do |depense| %>
        <div class="row depense align-center">
          <div class="col-md-2 col-sm-2 col-xs-2"><%= depense.title %></div>
          <div class="col-md-2 col-sm-2 col-xs-2"><%= depense.value %></div>
          <div class="col-md-4 col-sm-4 col-xs-4"><%= depense.date %></div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <%= link_to edit_depense_path(depense), class: "action-depense" do %>
              <i class="fa fa-pencil"></i>
            <% end %>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <%= link_to depense, method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy action-depense" do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
