<main class="container">
  <div class="row show-depense">
    <div class="col-md-8 col-md-offset-2">
      <% if notice %>
        <p id="notice" class="alert alert-success"><%= notice %></p>
      <% end %>
      <p>
        <strong>Title:</strong>
        <%= @depense.title %>
      </p>

      <p>
        <strong>Value:</strong>
        <%= @depense.value %>
      </p>

      <p>
        <strong>Date:</strong>
        <%= @depense.date %>
      </p>

      <p>
        <strong>Checked:</strong>
        <%= @depense.checked %>
      </p>
      <%= link_to edit_depense_path(@depense), class: "btn btn-flat btn-info" do %>
        <i class="fa fa-pencil"></i>&nbsp; Edit
      <% end %>
      <%= link_to depenses_path, class: "btn btn-flat btn-warning" do %>
        <i class="fa fa-arrow-left"></i>&nbsp; Back
      <% end %>
    </div>
  </div>
</main>
