<!DOCTYPE html>
<html>
  <head>
    <title>Fabien Oger</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="description" content="Développeur web à Paris : HTML5, CSS3, Bootstrap, JavaScript, jQuery, PHP, Ruby, Ruby On Rails. ">
    <meta name="keywords" content="vcard, html5, portfolio, freelance">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="0g9Raa3xmd8E_pMu1rykS5uMcq-92jlAGI2OeytIAXg" />
    <meta name="author" content="Fabien Oger">
  </head>
  <body>
    <header class="navbar">
      <div class="container">
        <!--<div class="logo">
        </div>-->
        <ul class="menu nav align-center">
          <li><a href="/">Accueil</a></li>
          <i class="fa fa-circle"></i>
<!--          <li><a href="/portfolio">Portfolio</a></li>
          <i class="fa fa-circle"></i>-->
          <li><a href="/contact">Contact</a></li>
        </ul>
        <% if user_signed_in? %>
          <div id="show-admin-menu"><i class="fa fa-bars"></i></div>
          <ul id="admin-menu">
            <li><a href="/messages">Messages&nbsp; <i class="fa fa-envelope"></i></a></li>
            <li><%= link_to new_depense_path do %>New depense&nbsp; <i class="fa fa-plus"></i><% end %></li>
            <li><a href="/depenses">List depenses&nbsp; <i class="fa fa-list"></i></a></li>
            <li><a href="/projects">List projects&nbsp; <i class="fa fa-book"></i></a></li>
            <li><a href="/technologies">List technologies&nbsp; <i class="fa fa-book"></i></a></li>
            <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Logout&nbsp; <i class="fa fa-sign-out"></i></a></li>
          </ul>
        <% else %>
          <div class="social">
            <div class="link-icone">
              <a target="_blank" href="https://github.com/fabienoger">
                <i class="fa fa-github"></i>
              </a>
            </div>
            <div class=" link-icone">
              <a target="_blank" href="https://twitter.com/FabOger">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <div class=" link-icone">
              <a target="_blank" href="https://www.linkedin.com/profile/view?id=AAMAABNCp4QB4jxI0GsinGdKAmrsJqjzYWTsmmo&trk=hp-identity-name">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>© Copyright développé by Fabien Oger</p>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
